{% extends 'base/base.html' %}
    {% block content %}
    <!-- project Section  -->
    <section id="projects" class="projects container">
        <div class="projects-header">
            <h1 class="projects-header-heading">projects</h1>
            <p class="projects-header-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni temporibus,
                omnis illum ipsa reiciendis illo eos odio possimus voluptatibus architecto.</p>
        </div>
        <div class="projects-info">
            <div class="project">
                <div class="project-card">
                    <div class="project-front">
                        <i class="fa fa-palette"></i>
                        <h1 class="project-front-heading">Web Design</h1>
                    </div>
                    <div class="project-back">
                        <h1 class="project-back-heading">Web Design</h1>
                        <p class="project-back-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum aut
                            dolor voluptatem incidunt placeat impedit laboriosam quam consequatur quasi nihil libero ad,
                            quaerat, alias illum excepturi. Iste quo repellendus consequuntur asperiores dignissimos,
                            quaerat obcaecati officiis repudiandae fugit tenetur nulla impedit!</p>
                    </div>
                </div>
            </div>
            <div class="project">
                <div class="project-card">
                    <div class="project-front">
                        <i class="fa fa-laptop-code"></i>
                        <h1 class="project-front-heading">Font End Dev</h1>
                    </div>
                    <div class="project-back">
                        <h1 class="project-back-heading">Front End Dev</h1>
                        <p class="project-back-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum aut
                            dolor voluptatem incidunt placeat impedit laboriosam quam consequatur quasi nihil libero ad,
                            quaerat, alias illum excepturi. Iste quo repellendus consequuntur asperiores dignissimos,
                            quaerat obcaecati officiis repudiandae fugit tenetur nulla impedit!</p>
                    </div>
                </div>
            </div>
            <div class="project">
                <div class="project-card">
                    <div class="project-front">
                        <i class="fa fa-building"></i>
                        <h1 class="project-front-heading">Branding</h1>
                    </div>
                    <div class="project-back">
                        <h1 class="project-back-heading">Branding</h1>
                        <p class="project-back-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum aut
                            dolor voluptatem incidunt placeat impedit laboriosam quam consequatur quasi nihil libero ad,
                            quaerat, alias illum excepturi. Iste quo repellendus consequuntur asperiores dignissimos,
                            quaerat obcaecati officiis repudiandae fugit tenetur nulla impedit!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="projects-info">
            <div class="project">
                <div class="project-card">
                    <div class="project-front">
                        <i class="fa fa-palette"></i>
                        <h1 class="project-front-heading">Web Design</h1>
                    </div>
                    <div class="project-back">
                        <h1 class="project-back-heading">Web Design</h1>
                        <p class="project-back-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum aut
                            dolor voluptatem incidunt placeat impedit laboriosam quam consequatur quasi nihil libero ad,
                            quaerat, alias illum excepturi. Iste quo repellendus consequuntur asperiores dignissimos,
                            quaerat obcaecati officiis repudiandae fugit tenetur nulla impedit!</p>
                    </div>
                </div>
            </div>
            <div class="project">
                <div class="project-card">
                    <div class="project-front">
                        <i class="fa fa-laptop-code"></i>
                        <h1 class="project-front-heading">Font End Dev</h1>
                    </div>
                    <div class="project-back">
                        <h1 class="project-back-heading">Front End Dev</h1>
                        <p class="project-back-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum aut
                            dolor voluptatem incidunt placeat impedit laboriosam quam consequatur quasi nihil libero ad,
                            quaerat, alias illum excepturi. Iste quo repellendus consequuntur asperiores dignissimos,
                            quaerat obcaecati officiis repudiandae fugit tenetur nulla impedit!</p>
                    </div>
                </div>
            </div>
            <div class="project">
                <div class="project-card">
                    <div class="project-front">
                        <i class="fa fa-building"></i>
                        <h1 class="project-front-heading">Branding</h1>
                    </div>
                    <div class="project-back">
                        <h1 class="project-back-heading">Branding</h1>
                        <p class="project-back-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum aut
                            dolor voluptatem incidunt placeat impedit laboriosam quam consequatur quasi nihil libero ad,
                            quaerat, alias illum excepturi. Iste quo repellendus consequuntur asperiores dignissimos,
                            quaerat obcaecati officiis repudiandae fugit tenetur nulla impedit!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End project Section  -->
    {% endblock %}