.footer {
	min-height: 20vh;
	width: 100%;
	background-color: black;
	color: white;
	flex-direction: column;
	text-align: center;
	padding: 5rem;
}
.footer .footer-contact {
	padding: 20px;
}
.footer .footer-contact .footer-contact-heading {
	font-size: 2.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 10px;
}
.footer .footer-contact .footer-contact-info {
	font-size: 1.4rem;
	padding-top: 10px;
	letter-spacing: .2rem;
}
.footer .footer-social-follow .footer-social-icon a {
	color: white;
	font-size: 3rem;
	margin: .4rem;
	display: inline-block;
}
